@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.main{
    height: 300px;
    width: 100%;
    background-color: #de5824;
    font-family: 'Montserrat', sans-serif;
}
.main .content{
    margin-top: 150px;
    text-align: center;
    color: white;
}