@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main{
    height: 300px;
    width: 100%;
    border: 2px solid black;
    background-color: #de5824;
    font-family: 'Montserrat', sans-serif;
}
.main .content{
    margin-top: 150px;
    text-align: center;
    color: white;
}

.container{
    margin-top: 20px;
    padding: 20px;
}
